#!/usr/bin/env python3

from webdriver_test_tools.project import test_module
from {{test_package}} import config, tests

def main():
    test_module.main(tests, config, __package__)

if __name__ == '__main__':
    main()
