from webdriver_test_tools.config import site


class SiteConfig(site.SiteConfig):
    """URL configurations for a site"""
    # URL of the home page
    SITE_URL = ''
    # Base URL for site pages (followed by a '/')
    BASE_URL = ''

    # DECLARE ANY OTHER URL VARIABLES NEEDED FOR TESTING HERE
