{% extends "nav_object.yml.j2" %}

{% block nav_additional_attributes %}
  # (Default: false)
  collapsible: true
  # REQUIRED: Locator for the collapsible menu element
  menu_locator:
    by: <BY>
    locator: <LOCATOR>
  # REQUIRED: Locator for the button that collapses the nav menu
  expand_button_locator:
    by: <BY>
    locator: <LOCATOR>
  # (Optional) Locator for the button that collapses the nav menu.
  # Uncomment if expand and collapse buttons have different locators
  # collapse_button_locator:
  #   by: <BY>
  #   locator: <LOCATOR>
{% endblock %}
