# FormObject YAML Documentation: 
# https://connordelacruz.com/webdriver-test-tools/yaml.html#formobjects

# REPLACE <PLACEHOLDER VALUES> BELOW AND ADD ITEMS TO THE inputs LIST:

form:
  # REQUIRED: Locator for the form
  form_locator:
    by: <LOCATE BY>
    locator: <LOCATOR STRING>
  # REQUIRED: Locator for the submit button
  submit_locator:
    by: <LOCATE BY>
    locator: <LOCATOR STRING>
  # List of inputs in the form
  inputs:
    # Example syntax:
    # 
    # - name: <INPUT NAME>
    #   <KEY>: <VALUE>
    #   ...
    # - name: <ANOTHER INPUT NAME>
    #   ...

