# ModalObject YAML Documentation: 
# https://connordelacruz.com/webdriver-test-tools/yaml.html#modalobjects

# REPLACE <PLACEHOLDER VALUES> BELOW:


modal:
  # REQUIRED: Locator for the modal
  modal_locator:
    by: <LOCATE BY>
    locator: <LOCATOR STRING>
  # REQUIRED: Locator for the close button
  close_locator:
    by: <LOCATE BY>
    locator: <LOCATOR STRING>

