# ModalObject YAML Documentation: 
# https://connordelacruz.com/webdriver-test-tools/yaml.html#modalobjects

# REPLACE <PLACEHOLDER VALUES> BELOW:

modal:
  # REQUIRED: Locator for the modal
  modal_locator:
    by: <BY>
    locator: <LOCATOR>
  # REQUIRED: Locator for the close button
  close_locator:
    by: <BY>
    locator: <LOCATOR>

