{% extends "base_page.py.j2" %}

{% block parent_class %}prototypes.ModalObject{% endblock %}

{% block additional_attributes %}
    # SET THE FOLLOWING ATTRIBUTES TO USE IN ModalObject METHODS

    # Locator for the modal element
    MODAL_LOCATOR = None
    # Locator for the modal's close button
    CLOSE_LOCATOR = None
    # (Optional) Page object of the contents of the modal body. If set to a
    # subclass of BasePage, the get_modal_body() method will return an instance
    # of the page object
    MODAL_BODY_CLASS = None
{% endblock %}
