# WebPageObject YAML Documentation: 
# https://connordelacruz.com/webdriver-test-tools/yaml.html#webpageobjects

# SET url KEY BELOW:

web_page:
  # REQUIRED: URL to the page. The following formats are accepted:
  # 
  # # Full URL to the page
  # url: http://example.com/
  #
  # url:
  #   # Page path, relative to the SiteConfig attribute specified below
  #   path: path/to/page.html
  #   # Attribute in project SiteConfig to use as the base URL for the page
  #   relative_to: BASE_URL
  url: 

