from selenium.webdriver.common.by import By
from webdriver_test_tools.pageobject import *
from webdriver_test_tools.webdriver import actions, locate


class {{ class_name }}(BasePage):
{% if description %}    """{{ description }}"""
{% endif %}
    class Locator:
        """WebDriver locator tuples for any elements that will need to be accessed by
        this page object.
        """
        pass

    # Page Methods


