import webdriver_test_tools
from webdriver_test_tools.testcase import *

from {{ test_package }} import config


class {{ class_name }}(WebDriverTestCase):
    """{% if description %}{{ description }}{% else %}ADD CLASS DESCRIPTION{% endif %}"""

    # URL to go to at the start of each test
    SITE_URL = config.SiteConfig.SITE_URL

